/* css styles */


@font-face {
  font-family: 'Comic Mono NF';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Comic.Mono.Nerd.Font.Complete.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/Comic.Mono.Bold.Nerd.Font.Complete.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: normal;
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: italic;
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
    --bs-navbar-brand-color: "white";
}

.navbar {
    background-image: url('/resources/bluebg.jpg');
}

.content p {
    text-align: justify;
}

.side-by-side-struct-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*width: 100%;
    max-width: none;*/
}

.side-by-side-struct-column {
    display: block;
    /*width: 50%;*/
}

.struct-layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 bytes width */
    gap: 2px;
    /*border: 1px solid black;*/
}
.struct-cell {
    /*border: 1px solid gray;*/
    text-align: center;
    /* Add padding to the right only. */
    padding-right: 5px;
}

.py-field {
    /* Background color: light blue */
    /*background-color: #cce5ff;*/
}

.px-field {
    /* Color blue */
    /*color: #007bff;*/
}
