/*-- scss:defaults --*/

$navbar-bg: transparent;
$navbar-fg: white;
$navbar-image: url('/resources/bluebg.jpg');

$font-family-sans-serif: 'EB Garamond', 'Palatino', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

$font-size-base: 1.1rem;
$font-size-blockquote: 0.9rem;

// Set the monospace font size to be smaller than the default font size.
$font-size-monospace: 0.75rem;
// Smaller sizes for smaller screens.
$font-size-monospace-ipad-mini: 0.5rem;
$font-size-monospace-mobile: 0.42rem;

$code-block-border-left: 1;

/*
$grid-column-gutter-width-mobile: 0.5rem;
$grid-column-gutter-width: 0.6rem;
*/

/*-- scss:rules --*/

// Import Bootstrap's main SCSS file
@import "bootstrap";

// Override specific elements with monospace font sizes
code, kbd, samp {
    font-size: $font-size-monospace; // Apply custom font size to monospace elements
}

pre {
    font-size: $font-size-monospace; // Apply custom font size to pre elements
}

pre code {
    font-size: $font-size-monospace; // Apply custom font size to code inside pre
}

.blockquote {
    font-size: $font-size-blockquote; // Apply custom font size to blockquote
}

// Adjust font size for smaller screens

// Mobile phone.
@media (max-width: 767px) {

    pre.sourceCode,
    kbd.sourceCode,
    samp.sourceCode,
    code.sourceCode,
    p code.sourceCode,
    li code.sourceCode,
    td code.sourceCode {
        font-size: $font-size-monospace-mobile;
    }

    // No margins or padding for code blocks on mobile.
    .tab-content {
        padding: 2px;
        margin: 2px;
    }

}

// iPad mini-ish.
@media (max-width: 991px) {

    pre.sourceCode,
    kbd.sourceCode,
    samp.sourceCode,
    code.sourceCode,
    p code.sourceCode,
    li code.sourceCode,
    td code.sourceCode {
        font-size: $font-size-monospace-ipad-mini;
    }

    .tab-content {
        padding: 4px;
        margin: 4px;
    }

}

/*
.embed-wrk iframe,
.embed-wrk img {
    max-width: 100%;
    height: auto;
    display: block;
}
*/

.embed-wrk {
    max-width: 100%;
    height: auto;
}


/* Hide all by default */
.phone-only,
.tablet-only,
.desktop-only {
  display: none;
}

/* For phones: screens up to 767px */
@media (max-width: 767px) {
  .phone-only {
    display: block;
  }
}

/* For tablets: screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .tablet-only {
    display: block;
  }
}

/* For desktops: screens 992px and up */
@media (min-width: 992px) {
  .desktop-only {
    display: block;
  }
}

