/*-- scss:defaults --*/

$font-family-sans-serif: 'Garamond', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

// Set the monospace font size to be smaller than the default font size.
$font-size-monospace: 0.75rem;

$text-align: justify;

/*-- scss:rules --*/

// Import Bootstrap's main SCSS file
@import "bootstrap";

// Override specific elements with monospace font sizes
code, kbd, samp {
    font-size: $font-size-monospace; // Apply custom font size to monospace elements
}

pre {
    font-size: $font-size-monospace; // Apply custom font size to pre elements
}

pre code {
    font-size: $font-size-monospace; // Apply custom font size to code inside pre
}
