/*-- scss:defaults --*/

$font-family-sans-serif: 'Garamond', sans-serif;
$font-family-monospace: 'Comic Mono NF', 'Monaco', monospace;

$font-size-base: 0.875rem;

$text-align: justify;

/*-- scss:rules --*/