/* css styles */


@font-face {
  font-family: 'Comic Mono NF';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Comic.Mono.Nerd.Font.Complete.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic Mono NF';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Comic.Mono.Bold.Nerd.Font.Complete.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: normal;
  src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 100 700;
  font-style: italic;
  src: url('fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
    --bs-navbar-brand-color: "white";
}

.navbar {
    background-image: url('resources/bluebg.jpg');
}
